<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quran_Memorizing_System</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quran_Memorizing_System.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)

</head>
<body>
    <header>
        <!-- Top Nav -->
        <nav class="navbar top-navbar bg-white">
            <div class="container-fluid d-flex align-items-center">
                <a asp-page="/Index" class="logo-placeholder me-4 text-decoration-none text-black">
                    LOGO
                </a>

                <ul class="navbar-nav flex-row">
                    <li class="nav-item me-3"><a class="nav-link" href="/LessonsSearch">Lessons </a></li>
                    <li class="nav-item me-3"><a class="nav-link" href="/Memorization_Circle">circles</a></li>
                    <li class="nav-item me-3"><a class="nav-link" href="#">Nav Item</a></li>
                </ul>

                <div class="ms-auto">
                    <button class="btn btn-outline-secondary profile-btn d-flex align-items-center justify-content-center">
                        <i class="bi bi-person"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <p class="footer-text small">
            &copy; 2025 - Quran_Memorizing_System - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
