@page
@model Quran_Memorizing_System.Pages.Performace_ReviewModel
@{
    ViewData["Title"] = "Performance Review";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Performance_Review.css" asp-append-version="true" />
}
<div class="performance-container">

    <h1 class="page-title">Performance Review</h1>

    @for (var i = 0; i < Model.P_Records.Count; i++)
    {
        var r = Model.P_Records[i];
        <div class="record-card">
            <button class="record-header" onclick="toggleRecord(this)">
                @r.Date
                <span class="arrow">▼</span>
            </button>

            <div class="record-body">
                <label>Performance:</label>
                <div class="performance-bar">
                    <div class="performance-fill" style="width:@($"{r.Percentage}%");"></div>
                </div>

                <div class="record-details">
                    <p><strong>Issuer:</strong> @r.Issuer</p>
                    <p><strong>Date:</strong> @r.Date</p>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function toggleRecord(button) {
        const htmlbutton = button.nextElementSibling;
        htmlbutton.classList.toggle("open");

        // rotate arrow
        const arrow = button.querySelector(".arrow");
        arrow.classList.toggle("rotated");
    }
</script>

