@page
@model Quran_Memorizing_System.Pages.GradeExamsModel
@{
    @using System.Data;
}

@section Styles {
    <link rel="stylesheet" href="~/css/exams-list.css" asp-append-version="true" />
}

<div class="container pt-4">
    <h2 class="mb-3">Submissions for Exam @Model.ExamID</h2>

    <div class="created-exams-list">
        @foreach (DataRow sub in Model.Submissions.Rows)
        {
            <div class="exam-item">
                <div>
                    <p class="mb-1"><strong>Student Email:</strong> @sub["Participant_Email"]</p>
                    <p class="mb-0"><strong>Date:</strong> @sub["StartDate"]</p>
                </div>

                <div>
                    <a href="/create_performance?id=@sub["Exam_Sub_ID"]"
                       class="btn btn-success btn-sm">
                        Grade
                    </a>
                </div>
            </div>
        }
    </div>
</div>
