@page
@model Quran_Memorizing_System.Pages.ViewCreatedExamsModel
@{
	@using System.Data
}

<div>
	@foreach (DataRow exam in Model.CreatedExams.Rows)
	{
		<div>@exam["Title"]</div>
		<form asp-page-handler="Delete" method="post">
			<input type="hidden" name="examid" value="@exam["Exam_ID"]" />
			<a href="/ViewSubExam?ExamID=@exam["Exam_ID"]">View Submissions</a>
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
	}
</div>